<p id="notice"><%= notice %></p>

<p>
  <b>Numbers:</b>
  <%= @text_message.numbers %>
</p>

<p>
  <b>Message:</b>
  <%= @text_message.message %>
</p>


<%= link_to 'Edit', edit_text_message_path(@text_message) %> |
<%= link_to 'Back', text_messages_path %>
